# 6.1:  Sourcing Open Data

##  This script includes the following points:

###  1.  Import Libraries and Data
###  2.  Data Profiling 2015-2019 Data Sets
###  3.  Data Wrangling
###  4.  Consistency Checks
###  5.  Export Data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create path
path = r'/Users/andrewruhnow/Documents/World Happiness Report 2015-2019'

In [3]:
path

'/Users/andrewruhnow/Documents/World Happiness Report 2015-2019'

In [4]:
# Import CSV 2015 Report
df_2015 = pd.read_csv(r'/Users/andrewruhnow/Documents/World Happiness Report 2015-2019/02 Data/Original Data/2015.csv',)

In [5]:
# Import CSV 2016 Report
df_2016 = pd.read_csv(r'/Users/andrewruhnow/Documents/World Happiness Report 2015-2019/02 Data/Original Data/2016.csv',)

In [6]:
# Import CSV 2017 Report
df_2017 = pd.read_csv(r'/Users/andrewruhnow/Documents/World Happiness Report 2015-2019/02 Data/Original Data/2017.csv',)

In [7]:
# Import CSV 2018 Report
df_2018 = pd.read_csv(r'/Users/andrewruhnow/Documents/World Happiness Report 2015-2019/02 Data/Original Data/2018.csv',)

In [8]:
# Import CSV 2019 Report
df_2019 = pd.read_csv(r'/Users/andrewruhnow/Documents/World Happiness Report 2015-2019/02 Data/Original Data/2019.csv',)

In [9]:
# 2015 Data Profile
df_2015.shape

(158, 12)

In [10]:
# Checking for mixed data types in 2015 data set
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

#### No mixed data types in 2015 data set

In [11]:
df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [12]:
df_2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [13]:
df_2015.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [14]:
# Checking for missing values in 2015 data set
df_2015.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

####  No missing values in 2015 data set

In [15]:
# Checking for duplicates in 2015 data set
df_2015.duplicated().sum()

0

####  No duplicates found in 2015 data set

In [16]:
# 2016 Data Profile
df_2016.shape

(157, 13)

In [17]:
# Checking for mixed data types in 2016 data set
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

####  No mixed data types in 2016 data set

In [18]:
df_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [19]:
df_2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [20]:
df_2016.describe()

,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000
mean,78.980892,5.382185,5.282395,5.481975,0.953880,0.793621,0.557619,0.370994,0.137624,0.242635,2.325807
std,45.466030,1.141674,1.148043,1.136493,0.412595,0.266706,0.229349,0.145507,0.111038,0.133756,0.542220
min,1.000000,2.905000,2.732000,3.078000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.817890
25%,40.000000,4.404000,4.327000,4.465000,0.670240,0.641840,0.382910,0.257480,0.061260,0.154570,2.031710
50%,79.000000,5.314000,5.237000,5.419000,1.027800,0.841420,0.596590,0.397470,0.105470,0.222450,2.290740
75%,118.000000,6.269000,6.154000,6.434000,1.279640,1.021520,0.729930,0.484530,0.175540,0.311850,2.664650
max,157.000000,7.526000,7.460000,7.669000,1.824270,1.183260,0.952770,0.608480,0.505210,0.819710,3.837720

In [21]:
# Checking for missing values in 2016 data set
df_2016.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

####  No missing values in 2016 data set

In [22]:
# Checking for duplicates in 2016 data set
df_2016.duplicated().sum()

0

####  No duplicates found in 2016 data set

In [23]:
# 2017 Data Profile
df_2017.shape

(155, 12)

In [24]:
# Checking for mixed data types in 2017 data set
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [25]:
df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [26]:
df_2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [27]:
df_2017.describe()

,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
count,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.000000,5.354019,5.452326,5.255713,0.984718,1.188898,0.551341,0.408786,0.246883,0.123120,1.850238
std,44.888751,1.131230,1.118542,1.145030,0.420793,0.287263,0.237073,0.149997,0.134780,0.101661,0.500028
min,1.000000,2.693000,2.864884,2.521116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914
25%,39.500000,4.505500,4.608172,4.374955,0.663371,1.042635,0.369866,0.303677,0.154106,0.057271,1.591291
50%,78.000000,5.279000,5.370032,5.193152,1.064578,1.253918,0.606042,0.437454,0.231538,0.089848,1.832910
75%,116.500000,6.101500,6.194600,6.006527,1.318027,1.414316,0.723008,0.516561,0.323762,0.153296,2.144654
max,155.000000,7.537000,7.622030,7.479556,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485

In [28]:
# Checking for missing values in 2017 data set
df_2017.isnull().sum()

Country                          0
Happiness.Rank                   0
Happiness.Score                  0
Whisker.high                     0
Whisker.low                      0
Economy..GDP.per.Capita.         0
Family                           0
Health..Life.Expectancy.         0
Freedom                          0
Generosity                       0
Trust..Government.Corruption.    0
Dystopia.Residual                0
dtype: int64

####  No missing values in 2017 data set

In [29]:
# Checking for duplicates in 2017 data set
df_2017.duplicated().sum()

0

####  No duplicates found in 2017 data set

In [30]:
# 2018 Data Profile
df_2018.shape

(156, 9)

In [31]:
# Checking for mixed data types in 2018 data set
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

####  No mixed data types in 2018 data set

In [32]:
df_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [33]:
df_2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [34]:
df_2018.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

In [35]:
# Checking for missing values in 2018 data set
df_2018.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       1
dtype: int64

####  1 missing value in Perceptions of corruption column

In [36]:
# Checking for duplicates in 2018 data set
df_2018.duplicated().sum()

0

####  No duplicates found in 2018 data set

In [37]:
# 2019 Data Profile
df_2019.shape

(156, 9)

In [38]:
# Checking for mixed data types in 2019 data set
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

####  No mixed data types in 2019 data set

In [39]:
df_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [40]:
df_2019.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [41]:
df_2019.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

In [42]:
# Checking for missing values in 2019 data set
df_2019.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

#### No missing values found in 2019 data set

In [43]:
# Checking for duplicates in 2019 data set
df_2019.duplicated().sum()

0

####  No duplicates found in 2019 data set

#  Data Wrangling

In [44]:
# Dropping columns 'Region' 'Standard Error' and 'Dystopia Residual' in 2015 data set
df_2015 = df_2015.drop(['Region', 'Standard Error', 'Dystopia Residual'], axis = 1)

In [45]:
df_2015.columns

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')

In [46]:
# Dropping columns 'Region' ' Lower Confidence Interval' 'Upper Confidence Interval' and 'Dystopia Residual'in 2016 data set
df_2016 = df_2016.drop(['Region', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia Residual'], axis = 1)

In [47]:
df_2016.columns

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')

In [48]:
# Dropping columns 'Whisker.high' 'Whisker.low' and 'Dystopia.Residual' in 2017 data set and renaming columns to follow 2015/2016 format
df_2017 = df_2017.drop(['Whisker.high', 'Whisker.low', 'Dystopia.Residual'], axis = 1)

In [49]:
df_2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score',
       'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.',
       'Freedom', 'Generosity', 'Trust..Government.Corruption.'],
      dtype='object')

In [50]:
df_2017.rename(columns = {'Happiness.Rank':'Happiness Rank', 'Happiness.Score':'Happiness Score', 'Economy..GDP.per.Capita.':'Economy (GDP per Capita)', 'Health..Life.Expectancy.': 'Health (Life Expectancy)','Trust..Government.Corruption.':'Trust (Government Corruption)'}, inplace = True)

In [51]:
df_2017.columns

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Generosity', 'Trust (Government Corruption)'],
      dtype='object')

In [52]:
# Reorder columns to follow 2015/2016 order
df_2017 = df_2017[['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity']]

In [53]:
df_2017.columns

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')

In [54]:
print(df_2017)

                      Country  Happiness Rank  Happiness Score  \
0                      Norway               1            7.537
1                     Denmark               2            7.522
2                     Iceland               3            7.504
3                 Switzerland               4            7.494
4                     Finland               5            7.469
..                        ...             ...              ...
150                    Rwanda             151            3.471
151                     Syria             152            3.462
152                  Tanzania             153            3.349
153                   Burundi             154            2.905
154  Central African Republic             155            2.693

     Economy (GDP per Capita)    Family  Health (Life Expectancy)   Freedom  \
0                    1.616463  1.533524                  0.796667  0.635423
1                    1.482383  1.551122                  0.792566  0.626007
2                    1.480633  1.610574                  0.833552  0.627163
3                    1.564980  1.516912                  0.858131  0.620071
4                    1.443572  1.540247                  0.809158  0.617951
..                        ...       ...                       ...       ...
150                  0.368746  0.945707                  0.326425  0.581844
151                  0.777153  0.396103                  0.500533  0.081539
152                  0.511136  1.041990                  0.364509  0.390018
153                  0.091623  0.629794                  0.151611  0.059901
154                  0.000000  0.000000                  0.018773  0.270842

     Trust (Government Corruption)  Generosity
0                         0.315964    0.362012
1                         0.400770    0.355280
2                         0.153527    0.475540
3                         0.367007    0.290549
4                         0.382612    0.245483
..                             ...         ...
150                       0.455220    0.252756
151                       0.151347    0.493664
152                       0.066035    0.354256
153                       0.084148    0.204435
154                       0.056565    0.280876

[155 rows x 9 columns]

In [55]:
# Renaming and Reordering columns in 2018 data set to match other data sets
df_2018.rename(columns = {'Overall rank':'Happiness Rank', 'Country or region':'Country','Score':'Happiness Score','GDP per capita':'Economy (GDP per Capita)', 'Social Support':'Family', 'Healthy life expectancy':'Health (Life Expectancy)','Freedom to make life choices':'Freedom','Perceptions of corruption':'Trust (Government Corruption)'}, inplace = True)

In [56]:
df_2018.columns

Index(['Happiness Rank', 'Country', 'Happiness Score',
       'Economy (GDP per Capita)', 'Social support',
       'Health (Life Expectancy)', 'Freedom', 'Generosity',
       'Trust (Government Corruption)'],
      dtype='object')

In [57]:
df_2018.rename(columns = {'Social support':'Family'}, inplace = True)

In [58]:
df_2018.columns

Index(['Happiness Rank', 'Country', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Generosity', 'Trust (Government Corruption)'],
      dtype='object')

In [59]:
df_2018 = df_2018[['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity']]

In [60]:
df_2018.columns

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')

In [61]:
print(df_2018)

                      Country  Happiness Rank  Happiness Score  \
0                     Finland               1            7.632
1                      Norway               2            7.594
2                     Denmark               3            7.555
3                     Iceland               4            7.495
4                 Switzerland               5            7.487
..                        ...             ...              ...
151                     Yemen             152            3.355
152                  Tanzania             153            3.303
153               South Sudan             154            3.254
154  Central African Republic             155            3.083
155                   Burundi             156            2.905

     Economy (GDP per Capita)  Family  Health (Life Expectancy)  Freedom  \
0                       1.305   1.592                     0.874    0.681
1                       1.456   1.582                     0.861    0.686
2                       1.351   1.590                     0.868    0.683
3                       1.343   1.644                     0.914    0.677
4                       1.420   1.549                     0.927    0.660
..                        ...     ...                       ...      ...
151                     0.442   1.073                     0.343    0.244
152                     0.455   0.991                     0.381    0.481
153                     0.337   0.608                     0.177    0.112
154                     0.024   0.000                     0.010    0.305
155                     0.091   0.627                     0.145    0.065

     Trust (Government Corruption)  Generosity
0                            0.393       0.202
1                            0.340       0.286
2                            0.408       0.284
3                            0.138       0.353
4                            0.357       0.256
..                             ...         ...
151                          0.064       0.083
152                          0.097       0.270
153                          0.106       0.224
154                          0.038       0.218
155                          0.076       0.149

[156 rows x 9 columns]

In [62]:
# Renaming and Reordering columns in 2019 data set to match other data sets
df_2019.rename(columns = {'Overall rank':'Happiness Rank', 'Country or region':'Country','Score':'Happiness Score','GDP per capita':'Economy (GDP per Capita)', 'Social Support':'Family', 'Healthy life expectancy':'Health (Life Expectancy)','Freedom to make life choices':'Freedom','Perceptions of corruption':'Trust (Government Corruption)'}, inplace = True)

In [63]:
df_2019.columns

Index(['Happiness Rank', 'Country', 'Happiness Score',
       'Economy (GDP per Capita)', 'Social support',
       'Health (Life Expectancy)', 'Freedom', 'Generosity',
       'Trust (Government Corruption)'],
      dtype='object')

In [64]:
df_2019.rename(columns = {'Social support':'Family'}, inplace = True)

In [65]:
df_2019.columns

Index(['Happiness Rank', 'Country', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Generosity', 'Trust (Government Corruption)'],
      dtype='object')

In [66]:
df_2019 = df_2019[['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity']]

In [67]:
df_2019.columns

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')

In [68]:
print(df_2019)

                      Country  Happiness Rank  Happiness Score  \
0                     Finland               1            7.769
1                     Denmark               2            7.600
2                      Norway               3            7.554
3                     Iceland               4            7.494
4                 Netherlands               5            7.488
..                        ...             ...              ...
151                    Rwanda             152            3.334
152                  Tanzania             153            3.231
153               Afghanistan             154            3.203
154  Central African Republic             155            3.083
155               South Sudan             156            2.853

     Economy (GDP per Capita)  Family  Health (Life Expectancy)  Freedom  \
0                       1.340   1.587                     0.986    0.596
1                       1.383   1.573                     0.996    0.592
2                       1.488   1.582                     1.028    0.603
3                       1.380   1.624                     1.026    0.591
4                       1.396   1.522                     0.999    0.557
..                        ...     ...                       ...      ...
151                     0.359   0.711                     0.614    0.555
152                     0.476   0.885                     0.499    0.417
153                     0.350   0.517                     0.361    0.000
154                     0.026   0.000                     0.105    0.225
155                     0.306   0.575                     0.295    0.010

     Trust (Government Corruption)  Generosity
0                            0.393       0.153
1                            0.410       0.252
2                            0.341       0.271
3                            0.118       0.354
4                            0.298       0.322
..                             ...         ...
151                          0.411       0.217
152                          0.147       0.276
153                          0.025       0.158
154                          0.035       0.235
155                          0.091       0.202

[156 rows x 9 columns]

# Consistency Checks

In [69]:
df_2015.head(5)

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [70]:
df_2016.head(5)

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

In [71]:
df_2017.head(5)

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483

In [72]:
df_2018.head(5)

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Finland,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202
1,Norway,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286
2,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284
3,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353
4,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256

In [73]:
df_2019.head(5)

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322

In [74]:
df_2015.shape

(158, 9)

In [75]:
df_2016.shape

(157, 9)

In [76]:
df_2017.shape

(155, 9)

In [77]:
df_2018.shape

(156, 9)

In [78]:
df_2019.shape

(156, 9)

#  Export Data Sets

In [79]:
df_2015.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2015_cleaned.pkl'))

In [80]:
df_2016.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2016_cleaned.pkl'))

In [81]:
df_2017.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2017_cleaned.pkl'))

In [82]:
df_2018.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2018_cleaned.pkl'))

In [83]:
df_2019.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2019_cleaned.pkl'))