#  Merged World Happiness Data

In [1]:
# Import Libraries and Data
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

In [2]:
# Create Path
path = r'/Users/andrewruhnow/Documents/World Happiness Report 2015-2019'

In [3]:
path

'/Users/andrewruhnow/Documents/World Happiness Report 2015-2019'

In [4]:
# Import Cleaned Data Sets
df_2015 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2015_cleaned.pkl'))

In [5]:
df_2015.shape

(158, 9)

In [6]:
df_2016 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2016_cleaned.pkl'))

In [7]:
df_2016.shape

(157, 9)

In [8]:
df_2017 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2017_cleaned.pkl'))

In [9]:
df_2017.shape

(155, 9)

In [10]:
df_2018 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2018_cleaned.pkl'))

In [11]:
df_2018.shape

(156, 9)

In [12]:
df_2019 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2019_cleaned.pkl'))

In [13]:
df_2019.shape

(156, 9)

#  2.  Concatenate all five (2015-2019) Data Sets

In [14]:
# Add a Year column to each data set
df_2015['Year'] = 2015

In [15]:
df_2015.head(5)

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [16]:
df_2016['Year'] = 2016

In [17]:
df_2016.head(5)

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2016
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2016
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2016
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2016
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2016

In [18]:
df_2017['Year'] = 2017

In [19]:
df_2017.head(5)

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2017

In [20]:
df_2018['Year'] = 2018

In [21]:
df_2018.head(5)

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,Finland,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202,2018
1,Norway,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286,2018
2,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284,2018
3,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353,2018
4,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256,2018

In [22]:
df_2019['Year'] = 2019

In [23]:
df_2019.head(5)

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,2019
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,2019
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,2019
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,2019
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,2019

In [24]:
merged_df = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019], axis=0)

In [25]:
merged_df.reset_index(drop=True, inplace=True)

In [26]:
print(merged_df)

                      Country  Happiness Rank  Happiness Score  \
0                 Switzerland               1            7.587
1                     Iceland               2            7.561
2                     Denmark               3            7.527
3                      Norway               4            7.522
4                      Canada               5            7.427
..                        ...             ...              ...
777                    Rwanda             152            3.334
778                  Tanzania             153            3.231
779               Afghanistan             154            3.203
780  Central African Republic             155            3.083
781               South Sudan             156            2.853

     Economy (GDP per Capita)   Family  Health (Life Expectancy)  Freedom  \
0                     1.39651  1.34951                   0.94143  0.66557
1                     1.30232  1.40223                   0.94784  0.62877
2                     1.32548  1.36058                   0.87464  0.64938
3                     1.45900  1.33095                   0.88521  0.66973
4                     1.32629  1.32261                   0.90563  0.63297
..                        ...      ...                       ...      ...
777                   0.35900  0.71100                   0.61400  0.55500
778                   0.47600  0.88500                   0.49900  0.41700
779                   0.35000  0.51700                   0.36100  0.00000
780                   0.02600  0.00000                   0.10500  0.22500
781                   0.30600  0.57500                   0.29500  0.01000

     Trust (Government Corruption)  Generosity  Year
0                          0.41978     0.29678  2015
1                          0.14145     0.43630  2015
2                          0.48357     0.34139  2015
3                          0.36503     0.34699  2015
4                          0.32957     0.45811  2015
..                             ...         ...   ...
777                        0.41100     0.21700  2019
778                        0.14700     0.27600  2019
779                        0.02500     0.15800  2019
780                        0.03500     0.23500  2019
781                        0.09100     0.20200  2019

[782 rows x 10 columns]

In [27]:
merged_df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'Happiness_merged_all_years.pkl'))

In [28]:
merged_df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Happiness_cleaned_merged.csv'))